---
import Layout from '../layouts/Layout.astro';
import BreedingCard from '../components/BreedingCard.astro';
import { getCollection } from 'astro:content';

const breedings = await getCollection('breedings');
---

<Layout title="Breedings">
  <div class="container mx-auto px-4 py-12 max-w-4xl">
    <div class="bg-stone-950 rounded-lg">
      <h1 class="text-4xl mb-12 text-center font-logo font-semibold py-2">BREEDINGS</h1>
    </div>
    
    <div class="grid grid-cols-1 gap-8 mx-auto max-w-2xl">
      {breedings.map(breeding => {
        return (
          <BreedingCard 
            title={breeding.data.title}
            fatherImage={breeding.data.fatherImage}
            fatherName={breeding.data.father}
            motherImage={breeding.data.motherImage}
            motherName={breeding.data.mother}
            items={breeding.data.items}
          />
        );
      })}
    </div>
  </div>
</Layout> 